@import "../../../common/scss/style.scss";
@import "../../../common/scss/mixin.scss";

$tW : 720;
@mixin calFontSize( $fontSize ){
    font-size: ($fontSize / $tW) * 100 + vw;
}

.popup {background-color: #fff;
    .menu-wrap {
        position:fixed;
        top:0; left:0;
        z-index:1000;
        width:100vw;
        img {width:100%;}

        overflow:hidden;

        .title-holder {
            position:absolute;
            width: 100%;
            left:0;
            top:0;
        }

        .close-holder {
            position:absolute;
            width:percentage(134/$tW);
            right:0;
            a{
                display: block;
            }
        }

    }

    .content-holder {width:100vw;
        img {width:100vw;}

        .section {position:relative;
            .top-holder {position:absolute; width:100vw;
                .on {position:absolute;left:0;top:0; width:100vw;
                    @include css-value-transition('opacity 0.3s linear');
                    @include opacity(0);
                }

                &.onFocus {
                    .on {
                        @include css-value-transition('opacity 0.3s linear');
                        @include opacity(1);
                    }
                }

                &.onFix {
                    position:fixed; left:0; top:0;
                }
            }
        }
        .section-2 {
            .top-holder { position: relative; }
            .tab-list {position:relative; clear: both;
                img {width:100%;}
                li {position:relative; width:50%;@include opacity(0.3);@include css-transition(opacity,0.1);
                    a { display : block; }
                    &.active {@include opacity(1);}
                }
                .tab-1 {float:left;}
                .tab-2 {float:right;}
            }
            .content-list {position:relative; width : 200%; clear:both; @include transform-transition-inout(0.3);
                li{position:relative; width:50%;}
                .content-1 {}
                .content-2 {position:absolute;top:0;right:0;}
            }
        }
        .section-4 {height:100vh;}

    }
}