p { margin: 0px; padding: 0px; }

/* list */
ul, ol { list-style-type: none; margin: 0px; padding: 0px; }

/* area */
hr { display: none; }

/* form */
form { margin: 0; padding: 0; }

form label, label { height: 19px; color: #5E5E5E; cursor: default; font-size: 100%; }

select { font-size: 100%; font-family: "arial","dotum", "sans-serif"; background: #fff; vertical-align: middle; height: 20px; letter-spacing: 0px; }

legend { display: none; }

fieldset { margin: 0; padding: 0; border: none; }

/* table */
table { margin: 0px; padding: 0px; border-spacing: 0; }

td { margin: 0px; padding: 0px; font-size: 100%; color: #777777; }

.notable { border-collapse: collapse; margin: 0; padding: 0; border-spacing: 0; border: 0 solid; }

th { font-weight: normal; }

*,*:before,*:after{box-sizing:border-box;}

/* h */
strong, b { font-weight: normal; }

body, ul, li, ol, dl, dt, dd, p, div, h1, h2, h3, h4, h5 { margin: 0px; padding: 0; list-style: none; font-weight: normal; }

body { overflow-x: hidden; color: #000; }

img { width: 100%; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; width:100%;}

th, td {word-wrap:break-word;}
img {font-size:0; vertical-align:top;}
fieldset,img {border:0 none;}
fieldset {float:none;}
a {text-decoration:none; color:#444;}
address,cite,code,dfn,em,var {font-style:normal; font-weight:normal;}
caption, legend, hr {overflow:hidden !important; width:1px !important; height:1px !important; margin:-1px !important; position:absolute !important; clip:rect(0 0 0 0) !important; border:0 !important; padding:0 !important;}
address, em {font-style:normal;}
button {padding:0; border:none; background:none; cursor:pointer;}
button::-moz-focus-inner {padding:0; border:0;}