@import "style";
@import "mixin";
$w : 720;
$h : 1354;

@mixin left-center($c:0,$t:$w) {
  left : percentage(($t - $c)/2/$t);
}
@mixin margin-center($c:0,$t:$w) {
  margin-left : percentage(($t - $c)/2/$t);
}

body, html {width: 100%;height: 100%;overflow: hidden;}
.wrap{width: 100%;height: 100%;}
.container{width: 100%;height: percentage(1150/$h); overflow: hidden;/*position:fixed;*/}
.contents{width:100%;height:100%}
.sub{display:none;}

section{width:100%;height:100% }
/*.motion{@include transform-css-transition('0.3s , opacity 0.3s');}*/
.event-txt{width:percentage(383 / $w); margin: 0 auto;padding-top: 6.4vh;}
.card-con{position:relative;margin-top: 2.8vh;
  .card{position:absolute;width:percentage(440 / $w);top:0;@include left-center(440);}
  .shadow{width:percentage(567 / $w);margin: 0 auto;}
}
.main-txt{
  .txt{width:percentage(454 / $w);margin: -4vh auto 0;}
  .title{width:percentage(323 / $w);margin: 2vh auto 0;}
  .btn{width:percentage(262 / $w);margin: 3.8vh auto 0;}
  .benefit{width:percentage(506 / $w);margin: 3.5vh auto 0;}
}

.circle-con-list{ position: absolute;width: 449/$w*100vw;height:449/$w*100vw; top: 12%;overflow: hidden;
  @include left-center(449);@include borderRadius('',50%);@include  opacity(0);

  .circle-1{
    .circle{width:100%}
    .glass{position: absolute; width:percentage(190/449); top: 47%;left: 79%;}
    .camera{position: absolute;top: 73%;left: 57%;width:percentage(177/449);}
    .bag{position: absolute;top: 40%;left: -4%;width:percentage(137/449);}
    .flight{position: absolute;top: 9%;left: -18%;width:percentage(612/449);}
  }
}
.sub-con-list{ position: absolute;width:100%; height:449/$w*100vw; top:9%;overflow: hidden;
  .sub-1{
    .cloud-1{position: absolute;width:percentage(222/$w); top:0%;left:20%;@include opacity(0);}
    .cloud-2{position: absolute;width:percentage(236/$w); top:21%;left:65%;@include opacity(0);}
    .cloud-3{position: absolute;width:percentage(220/$w); top:70%;left:9%;@include opacity(0);}
  }
}

.txt-con-list{position: absolute;width:100%;top: 67.5%;@include  opacity(0);
  .txt-1{
    .icon{width:percentage(131/$w);@include margin-center(131);}
    .title{width:percentage(368/$w);@include margin-center(368); margin-top: 4%;}
    .btn{width:percentage(213/$w);@include margin-center(213); margin-top: 18%;}
  }

}

.indi-con-list{position:absolute;width:percentage(15 / $w);right:percentage(25/$w);top:39%;
  li{width:15/$w*100vw;height:15/$w*100vw;@include borderRadius('',50%);background-color:rgb(217,217,217);margin-bottom: 161%;
    &.active{@include css-transition(background-color,0.5);background-color:rgb(89,89,89);}
  }
}


.contents-holder{position: absolute;width: 100%;top: 50%;@include transform(translateY(-59.5%));}
.slide-btn-holder{position: absolute;width:percentage(17 / $w);bottom: 12.2vh;left:percentage(($w - 17)/2/$w);}


.test{position:absolute;top:0;left:0;width:100vw;height:100vh;@include opacity(0.3);}

header{width:100%;}
footer{footer:100%;clear:both;
  a{width:50%;display: block;
    &.btn-1{float:left;}
    &.btn-2{float:right;}
  }
}