@import "style";
@import "mixin";
$w : 720;
$h : 1354;

@mixin left-center($c:0,$t:$w) {
  left : percentage(($t - $c)/2/$t);
}
@mixin margin-center($c:0,$t:$w) {
  margin-left : percentage(($t - $c)/2/$t);
}

body, html {width: 100%;height: 100%;overflow: hidden;}
.wrap{width: 100%;height: 100%;}
.container{width: 100%;height: percentage(1150/$h); overflow: hidden;/*position:fixed;*/}
.contents{width:100%;height:100%}
.sub{display:none;}

section{width:100%;height:100% }
/*.motion{@include transform-css-transition('0.3s , opacity 0.3s');}*/
.event-txt{width:percentage(383 / $w); margin: 0 auto;padding-top: 6.4vh;}
.card-con{position:relative;margin-top: 2.8vh;
  .card{position:absolute;width:percentage(440 / $w);top:0;@include left-center(440);}
  .shadow{width:percentage(567 / $w);margin: 0 auto;}
}
.main-txt{
  .txt{width:percentage(454 / $w);margin: -4vh auto 0;}
  .title{width:percentage(323 / $w);margin: 2vh auto 0;}
  .btn{width:percentage(262 / $w);margin: 3.8vh auto 0;}
  .benefit{width:percentage(506 / $w);margin: 3.5vh auto 0;}
}
.circle-shadow{position:absolute;width:100%;top:-6%;
  .shadow-1{position:absolute;width:percentage(720/$w);@include left-center(720);@include opacity(0);}
}
.circle-con-list{ position: absolute;width: 449/$w*100vw;height:449/$w*100vw; top: 12%;overflow: hidden;
  @include left-center(449);@include borderRadius('',50%);@include  opacity(0);
  li{position:absolute;width:100%;top:0;left:0;
    .circle{width:100%;@include opacity(0);@include css-transition(opacity,0.5);
      &.onShow{@include opacity(1);}
    }
  }
  .circle-1{
    .circle{@include opacity(1); }
    .glass{position: absolute; width:percentage(190/449); top: 47%;left: 79%; visibility:hidden;@include transform(translate(200%,0) rotate(-300deg));@include transform-transition-in(0.3);}
    .camera{position: absolute;top: 73%;left: 57%;width:percentage(177/449);visibility:hidden;@include transform(translate(50%,50%) rotate(-90deg));@include transform-transition-in(0.3);}
    .bag{position: absolute;top: 40%;left: -4%;width:percentage(137/449);visibility:hidden;@include transform(translate(-200%,0) rotate(150deg));@include transform-transition-in(0.3);}
    .flight{position: absolute;top: 9%;left: -18%;width:percentage(612/449);visibility:hidden;@include transform(translate(0,100%) rotate(0deg));@include transform-transition-in(0.3);}

    &.onShow{
      .glass{@include transform-transition-out(0.6,0.1);@include transform(translate(0,0) rotate(0deg));visibility:visible;}
      .camera{@include transform-transition-out(0.4,0.4);@include transform(translate(0,0) rotate(0deg));position: absolute;top: 73%;left: 57%;width:percentage(177/449);visibility:visible;}
      .bag{@include transform-transition-out(0.5,0.3);@include transform(translate(0,0) rotate(0deg));position: absolute;top: 40%;left: -4%;width:percentage(137/449);visibility:visible;}
      .flight{@include transform-transition-out(0.6);@include transform(translate(0,0) rotate(0deg));position: absolute;top: 9%;left: -18%;width:percentage(612/449);visibility:visible;}
    }
    &.onHide{
      .glass{@include transform-transition-in(0.3);@include transform(translate(200%,0) rotate(-300deg));visibility:visible;}
      .camera{@include transform-transition-in(0.3);@include transform(translate(50%,50%) rotate(-90deg));visibility:visible;}
      .bag{@include transform-transition-in(0.3);@include transform(translate(-200%,0) rotate(150deg));visibility:visible;}
      .flight{@include transform-transition-in(0.2);@include transform(translate(0,-100%) rotate(0deg));visibility:visible;}
    }
    .circle-2{
      &.onShow{

      }
    }
  }
}
.sub-con-list{ position: absolute;width:100%; height:449/$w*100vw; top:9%;overflow: hidden;
  li{position:absolute;width:100%;height:100%;top:0;left:0;}
  .sub-1{
    .cloud-1{position: absolute;width:percentage(222/$w); top:0%;left:20%;@include transform(translate(0,100%));@include opacity(0);visibility:visible;@include transform-css-transition('0.3s 0s ease-out, opacity 0.3s 0s');}
    .cloud-2{position: absolute;width:percentage(236/$w); top:21%;left:65%;@include transform(translate(0,100%));@include opacity(0);visibility:visible;@include transform-css-transition('0.3s 0.1s ease-out, opacity 0.3s 0.1s');}
    .cloud-3{position: absolute;width:percentage(220/$w); top:70%;left:9%;@include transform(translate(0,100%));@include opacity(0);visibility:visible;@include transform-css-transition('0.3s 0.2s ease-out, opacity 0.3s 0.2s');}

    &.onShow{
      .cloud-1{@include transform-css-transition('0.65s 0s ease-out, opacity 0.65s 0s');@include transform(translate(0,0));@include opacity(1);visibility:visible;}
      .cloud-2{@include transform-css-transition('0.55s 0.15s ease-out, opacity 0.55s 0.15s');@include transform(translate(0,0));@include opacity(1);visibility:visible;}
      .cloud-3{@include transform-css-transition('0.45s 0.3s ease-out, opacity 0.45s 0.3s');@include transform(translate(0,0));@include opacity(1);visibility:visible;}
    }
    &.onHide{
      .cloud-1{@include transform-css-transition('0.3s 0s ease-out, opacity 0.3s 0s');@include transform(translate(0,-100%));@include opacity(0);visibility:visible;}
      .cloud-2{@include transform-css-transition('0.3s 0.1s ease-out, opacity 0.3s 0.1s');@include transform(translate(0,-100%));@include opacity(0);visibility:visible;}
      .cloud-3{@include transform-css-transition('0.3s 0.2s ease-out, opacity 0.3s 0.2s');@include transform(translate(0,-100%));@include opacity(0);visibility:visible;}
    }
  }
}

.txt-con-list{position: absolute;width:100%;top: 67.5%;@include  opacity(0);
  li{position:absolute;width:100%;top:0;left:0;
    .icon{@include transform(translate(0,200%));@include opacity(0);@include transform-css-transition('0.3s 0.1s ease-in-out , opacity 0.2s 0.1s');}
    .title{@include transform(translate(0,50%));@include opacity(0);@include transform-css-transition('0.3s 0.5s ease-in-out , opacity 0.3s 0.05s');}
    .btn{@include transform(translate(0,100%));@include opacity(0);@include transform-css-transition('0.3s 0s ease-in-out , opacity 0.3s');}

    &.onShow{
      .icon{@include transform-css-transition('0.4s ease-out , opacity 0.3s');@include transform(translate(0,0));@include opacity(1);}
      .title{@include transform-css-transition('0.4s 0.1s ease-out , opacity 0.3s 0.1s');@include transform(translate(0,0));@include opacity(1);}
      .btn{@include transform-css-transition('0.4s 0.2s ease-out , opacity 0.3s 0.2s');@include transform(translate(0,0));@include opacity(1);}
    }

    &.onHide{
      .icon{@include transform-css-transition('0.3s 0.1s ease-in-out , opacity 0.2s 0.1s');@include transform(translate(0,-200%));@include opacity(0);}
      .title{@include transform-css-transition('0.3s 0.5s ease-in-out , opacity 0.3s 0.05s');@include transform(translate(0,-100%));@include opacity(0);}
      .btn{@include transform-css-transition('0.3s 0s ease-in-out , opacity 0.3s');@include transform(translate(0,-100%));@include opacity(0);}
    }
  }
  .txt-1{
    .icon{width:percentage(131/$w);@include margin-center(131);}
    .title{width:percentage(368/$w);@include margin-center(368); margin-top: 4%;}
    .btn{width:percentage(213/$w);@include margin-center(213); margin-top: 18%;}
  }
  .txt-2{
    .icon{width:percentage(156/$w);@include margin-center(156);}
    .title{width:percentage(535/$w);@include margin-center(535); margin-top: 3%;}
    .btn{width:percentage(271/$w);@include margin-center(271); margin-top: 9%;}
  }
}

.indi-con-list{position:absolute;width:percentage(15 / $w);right:percentage(25/$w);top:39%;
  li{width:15/$w*100vw;height:15/$w*100vw;@include borderRadius('',50%);background-color:rgb(217,217,217);margin-bottom: 161%;
    &.active{@include css-transition(background-color,0.5);background-color:rgb(89,89,89);}
  }
}


.contents-holder{position: absolute;width: 100%;top: 50%;@include transform(translateY(-59.5%));}
.slide-btn-holder{position: absolute;width:percentage(17 / $w);bottom: 12.2vh;left:percentage(($w - 17)/2/$w);}


.test{position:absolute;top:0;left:0;width:100vw;height:100vh;@include opacity(0.3);}

header{width:100%;}
footer{footer:100%;clear:both;
  a{width:50%;display: block;
    &.btn-1{float:left;}
    &.btn-2{float:right;}
  }
}