@import "style";
@import "mixin";
$w : 720;
$h : 1354;

@mixin left-center($c:0,$t:$w) {
  left : percentage(($t - $c)/2/$t);
}
@mixin margin-center($c:0,$t:$w) {
  margin-left : percentage(($t - $c)/2/$t);
}

body, html {width: 100%;height: 100%;overflow: hidden;}
.wrap{width: 100%;height: 100%;}
.container{width: 100%;height: percentage(1150/$h); overflow: hidden;/*position:fixed;*/}
.contents{width:100%;height:100%}
.sub{display:none;}

$tW : 720;
@mixin calFontSize( $fontSize ){
  font-size: ($fontSize / $tW) * 100 + vw;
}



.main{width:100vw;height:100vh;overflow: hidden;}

.menu-wrap {
  z-index:10000;
  position:fixed;
  top:0; left:0;

  width:100vw;
  img {width:100vw;}
  .bg-holder {position:absolute; width:100vw;
    img {width:100vw;}
    .bg {
      background:#fff;
      @include css-value-transition('opacity 1.0s ease-out 0s');
      position:absolute;left:0;top:0; @include opacity(0);

      &.onFocus {
        @include css-value-transition('opacity 1.0s ease-out 0s');
        @include opacity(1);
      }
    }

  }
  .menu-holder {position:absolute; left:0; top:0; width:100vw; z-index:2000;}
}

.top-holder {

  width:100vw;
  height:( 438 / $tW )*100vw;

  .cont-box {position:absolute; width:100%;
    text-align:center;
    .txt-clip-1 {position:absolute; width:100%; top:percentage( 150 / 438 );
      img {width:percentage(447/$tW); height:auto;}
    }
    .txt-clip-2 {position:absolute; width:100%; top:percentage( 208 / 438 );
      img {width:percentage(268/$tW);}
    }
    .bg-clip {width:100vw;
      img {width:100vw;}
      .bg {
        @include css-value-transition('opacity 1.06s ease-out 0s');
        position:absolute;left:0;top:0; @include opacity(0);

        &.onFocus {
          @include css-value-transition('opacity 1.0s ease-out 0s');
          @include opacity(1);
        }
      }
    }
  }
}

.card-holder { // event listener
  position:absolute; left:0; top:0;width:100vw; z-index:1500;
  //border:1px solid #ff0;
  overflow:hidden; height:100vh;

  .card-box {position:absolute; left:50%;//container

    .card-clip { position:absolute; // scale
      //@include css-value-transition('left 0.2s ease-out');
      @include transform-css-transition(0.3s ease-out 0s);
      -webkit-transform: translate3d(0,0,0);
      -webkit-backface-visibility: hidden;

      &.drag {
        //@include css-value-transition('left 0s ease-out');
        @include transform-css-transition(0s ease-out 0s);
      }

      .card-pod {position:absolute;left:0;

        //transform-style: preserve-3d;
        //perspective:500px;

        .card-scale {
          @include transform-css-transition(0.3s ease-out 0s);
          -webkit-transform: translate3d(0,0,0);
          -webkit-backface-visibility: hidden;

          position:absolute;
          .pod {position:absolute;left:0;top:0;
            transform:translateX(-50%) translateY(-50%);
          }

          .card {
            img {width:634px;}
            .card-mask {
              border:1px solid #d9d9d9;
              position:absolute; top:17px; left:12px;
              width:610px; height:1006px; background:#fff;
              border-radius:23px; overflow:hidden;
              -webkit-mask-image: -webkit-radial-gradient(white, black);
              img {width:100%;}

              .card-float {position:absolute; left:50%; top:250px;
                img {width:502px; height:370px; margin-left:-251px; margin-top:-185px;}
              }

              .drag-area {position:absolute; top:0; left:0; width:100%; height:100%;}

              .button {position:absolute;
                a {position:absolute; width:100%; height:100%;}
                div {position:absolute;}
                &.hover .focus { opacity:0; @include css-value-transition('opacity 0.2s')}
                &.hover-effect .focus { opacity:1; @include css-value-transition('opacity 0.2s')}
              }
              .card-btn-1 {width:262px;height:92px; left:176px; top:654px;}
              .card-btn-2 {width:271px;height:64px; left:60px; top:704px;}
              .card-btn-3 {width:213px;height:64px; left:60px; top:762px;}
              .card-btn-4 {width:212px;height:64px; left:60px; top:662px;}
              .card-btn-5 {width:291px;height:64px; left:60px; top:702px;}

              .img-mask {
                position:absolute; top:0; left:0; overflow:hidden;
                width:610px; height:296px; background:#fff;

                .card-image {position:absolute;top:50%;left:50%;
                  width:830px; height:506px; margin-left:-415px; margin-top:-253px;
                  @include transform-css-transition(0.3s linear 0s);
                  -webkit-transform: translate3d(0,0,0);
                  -webkit-backface-visibility: hidden;
                }

                .card-image-1 {
                  background:url('../img/card1_img.jpg') 50% 50%;
                }

                .card-image-2 {
                  background:url('../img/card2_img.jpg') 50% 50%;
                }

                .card-image-3 {
                  background:url('../img/card3_img.jpg') 50% 50%;
                }

                .card-image-4 {
                  background:url('../img/card4_img.jpg') 50% 50%;
                }

                .card-image-5 {
                  background:url('../img/card5_img.jpg') 50% 50%;
                }

              }
            }


          }
        }
        .pod {position:absolute;left:0;top:0;
          transform:translateX(-50%) translateY(-50%);
        }
      }
    }
  }
}




.list-holder {width:100vw;
  img {width:100vw;}
}

header{width:100%;}

footer{width:100%;position:fixed;bottom:0;z-index:20000;
  .button {position:relative; width:50%; float:left;
    a {position:absolute; width:100%; height:100%;}
    div {position:absolute;}
    &.hover .focus { opacity:0; @include css-value-transition('opacity 0.2s')}
    &.hover-effect .focus { opacity:1; @include css-value-transition('opacity 0.2s')}
  }
}


.hover {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.popup-con{position:absolute; width:100vw; z-index: 100000;top:100vh;left:0;display:none;@include css-transition-in(top,0.5);
  &.onShow{@include css-transition-inout(top,0.5);top:0;}
}